
<div class="row p-5 bg-light mt-4 justify-content-center">
    <div class="col-sm-12 text-center">
        <i class="fa-solid fa-circle-check fa-10x text-success mb-4"></i>
        <h1>Sale Complete!</h1>
        <h4 class="text-dark-emphasis mb4">Check Your Email For More Details</h4>

        <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-primary" href="/Home/Index">Continue Shopping</a>
            <a class="btn btn-primary" href="#">See My Orders</a>
        </div>

    </div>
</div>